<p>
  Here is an example of an email message that contains a link to Download a Wallet Pass.
</p>
<p>
  <a href="<%= @passkit_url_generator.ios %>">
    <%= image_tag 'passkit/add_to_apple_wallet_en.png', style: 'width: 150px;' %>
    Download an iOS Wallet Pass
  </a>
</p>
<p>
  <a href="<%=@passkit_url_generator.android %>">
    <%= image_tag 'passkit/add_to_walletpass_en.png', style: 'width: 150px;' %>
    Download an Android Wallet Pass
  </a>
</p>
