<html>
<head>
  <title>Passkit Previews</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

  <%= yield %>

<footer>
  Made with ❤️ by <a href="https://github.com/sponsors/coorasse/">coorasse</a>.
</footer>
</body>
</html>
